/* csslint important: false, adjoining-classes: false, box-model: false */

/* Force all board content to fill the board box */
.boards-page-board-section-list-item .board-tile {
    display: flex;
}

.board-tile-details {
    flex: auto;
    flex-wrap: nowrap;
    /* stylelint-disable-next-line declaration-no-important -- overriding Trello */
    height: inherit !important;
    min-height: 80px;
    /* stylelint-disable-next-line declaration-no-important -- overriding Trello */
    padding-right: 0 !important;
}

    .home-container .all-boards.bst-wide-format .board-tile-details {
        min-height: 0;
    }

.board-tile-details-name {
    padding-right: 36px;
}

.board-tile-badges {
    display: inline-block;
    /* stylelint-disable-next-line declaration-no-important -- overriding Trello */
    float: none !important;
}

.bst-hide-desc .badge[title*="description"] { /* csslint allow: regex-selectors */
    display: none;
}

.bst.container {
    /* Other elements in flexbox are flex-grow: 0: so this will make BS flex to fill
       the space and board-tile-details-sub-container will move to bottom of the container */
    flex: 1 0 auto;
    padding-left: 5px;
    padding-top: 5px;
}

.bst.summary {
    padding-bottom: 5px;
}

    .bst.summary:empty {
        padding-bottom: 0;
    }

    .bst.summary .icon-sm {
        color: #777777;
        font-size: 19px;
        line-height: 22px;
        margin-right: 5px;
    }

        .full-cover-list-card .bst.summary .icon-sm {
            color: #172b4d;
        }

        .full-cover-list-card-dark .bst.summary .icon-sm {
            color: #ffffff;
        }

        .bst.summary .icon-sm.icon-check {
            margin-right: 1px;
        }

    .bst.summary .icon-sm.icon-list,
    .bst.summary .icon-sm.icon-card {
        font-size: 21px;
    }

    .board-tile-details .bst.summary .icon-sm {
        color: #ffffff;
        color: rgba(255 255 255 / 95%);
    }

.bst.lists {
    display: inline-block;
    padding-right: 15px;
}

.bst.cards {
    display: inline-block;
    padding-right: 15px;
}

.bst.checklist {
    display: inline-block;
    margin-bottom: 0;
    padding-right: 15px;
}

.bst.complete {
    display: inline-block;
    margin-left: -2px; /* Offset check due to natural spacing */
}

.bst.badges {
    display: block;
    float: none;
    padding: 0;
}

    .full-cover-list-card .list-card-details .bst.badges {
        display: block;
    }

    .bst.badges .bst.badge {
        border: 1px solid #ffffff;
        padding: 2px;
    }

        .list-card-details .bst.badges .bst.badge {
            border: none;
        }

        .bst.badges .badge-text {
            padding: 0 4px 0 2px;
        }

        .bst.badges .bst.badge.is-closed {
            background-color: #8c8c8c;
            border-radius: 3px;
            color: #ffffff;
        }

            .bst.badges .bst.badge.is-closed .badge-text {
                padding: 0 2px;
            }

        .bst.badges .bst.badge.is-due-future {
            background-color: #8c8c8c;
            border-radius: 3px;
            color: #ffffff;
        }

        .bst.badges .bst.badge.invisible {
            visibility: hidden;
        }

            .list-card-details .bst.badges .bst.badge.invisible {
                display: none;
            }

    .bst.badges .badge-icon.icon-clock {
        color: #ffffff;
        /* stylelint-disable-next-line declaration-no-important -- overriding Trello */
        font-size: 16px !important;
    }

.bst.boardicon {
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword -- must use specific symbols */
    font-family: trellicons;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.05;
    margin-right: 2px;
    padding: 0;
    vertical-align: middle;
}

    .bst.boardicon.icon-none {
        display: none;
    }

    .bst.boardicon.bst-error:hover {
        color: #990000;
    }

    .bst.icon-null {
        color: #b6bbbf;
    }

        .bst.icon-null.bst-error {
            color: #b6bbbf;
            color: rgba(182 187 191 / 50%);
        }

    .bst.icon-green {
        color: #61bd4f;
    }

        .bst.icon-green.bst-error {
            color: #61bd4f;
            color: rgba(97 189 79 / 50%);
        }

    .bst.icon-yellow {
        color: #f2d600;
    }

        .bst.icon-yellow.bst-error {
            color: #f2d600;
            color: rgba(242 214 0 / 50%);
        }

    .bst.icon-orange {
        color: #ffab4a;
    }

        .bst.icon-orange.bst-error {
            color: #ffab4a;
            color: rgba(255 171 74 / 50%);
        }

    .bst.icon-red {
        color: #eb5a46;
    }

        .bst.icon-red.bst-error {
            color: #eb5a46;
            color: rgba(235 90 70 / 50%);
        }

    .bst.icon-purple {
        color: #c377e0;
    }

        .bst.icon-purple.bst-error {
            color: #c377e0;
            color: rgba(195 119 224 / 50%);
        }

    .bst.icon-blue {
        color: #0079bf;
    }

        .bst.icon-blue.bst-error {
            color: #0079bf;
            color: rgba(0 121 191 / 50%);
        }

    .bst.icon-pink {
        color: #ff80ce;
    }

        .bst.icon-pink.bst-error {
            color: #ff80ce;
            color: rgba(255 128 206 / 50%);
        }

    .bst.icon-sky {
        color: #00c2e0;
    }

        .bst.icon-sky.bst-error {
            color: #00c2e0;
            color: rgba(0 194 224 / 50%);
        }

    .bst.icon-lime {
        color: #51e898;
    }

        .bst.icon-lime.bst-error {
            color: #51e898;
            color: rgba(81 232 152 / 50%);
        }

    .bst.icon-black {
        color: #4d4d4d;
    }

        .bst.icon-black.bst-error {
            color: #4d4d4d;
            color: rgba(77 77 77 / 50%);
        }

.bst.error {
    color: #ff0000;
    display: block;
    font-size: 0.85em;
    font-style: italic;
    padding: 5px;
}

    .board-tile-details .bst.error {
        background-color: #cf513d;
        border: 1px solid #ffffff;
        border-radius: 2px;
        color: #ffffff;
        margin: 2px 5px;
        padding: 1px 6px;
        text-align: center;
    }

.pop-over .bst-title {
    padding: 0 0 2px 2px;
}

.pop-over .bst-new-board-options {
    margin: 0;
    padding: 0 0 0 4px;
}

    .pop-over .bst-new-board-options.hidden {
        display: none;
    }

    .pop-over .bst-new-board-options div {
        margin: 0 0 6px;
        padding: 0;
    }

        .pop-over .bst-new-board-options div:last-child {
            margin-bottom: 0;
        }

        .pop-over .bst-new-board-options .indent {
            padding-left: 10px;
        }

    .pop-over .bst-new-board-options input {
        margin: 0 4px 0 0;
        min-height: 0;
        padding: 0;
    }

    .pop-over .bst-new-board-options label {
        display: inline;
        font-weight: normal;
        padding: 0;
    }

    .pop-over .bst .warn {
        color: #dd0000;
        font-size: 0.9em;
        font-style: italic;
        padding-top: 10px;
    }

.bst-parentcontainer {
    border-radius: 3px;
    color: #f6f6f6;
    float: left;
    line-height: 27px;
    margin-left: 50px;
    padding: 0 0 0 10px;
}

    .body-light-board-background .bst-parentcontainer {
        color: #000000;
        color: rgba(0 0 0 / 70%);
    }

    .body-gray-board-background .bst-parentcontainer {
        color: #ffffff;
    }

.bst-parentheader {
    font-size: 16px;
}

    .body-gray-board-background .bst-parentheader {
        background-color: #000000;
        background-color: rgba(0 0 0 / 20%);
        border-color: #ffffff;
        border-color: rgba(0 0 0 / 0%);
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        display: inline-block;
        font-size: 14px;
        padding: 0 10px;
    }

.bst-parentlink {
    border: 1px solid #f6f6f6;
    border: 1px solid rgba(246 246 246 / 12%);
    border-radius: 3px;
    color: #f6f6f6;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    padding: 0 10px;
    text-decoration: none;
}

    .body-light-board-background .bst-parentlink {
        border-color: #000000;
        border-color: rgba(0 0 0 / 12%);
        color: #000000;
        color: rgba(0 0 0 / 70%);
    }

    .body-gray-board-background .bst-parentlink {
        background-color: #000000;
        background-color: rgba(0 0 0 / 20%);
        border-color: #ffffff;
        border-color: rgba(0 0 0 / 12%);
        color: #ffffff;
    }

    .bst-parentlink:hover {
        background-color: #000000;
        background-color: rgba(0 0 0 / 12%);
        color: #f6f6f6;
    }

        .body-light-board-background .bst-parentlink:hover {
            color: #000000;
            color: rgba(0 0 0 / 70%);
        }

        .body-dark-board-background .bst-parentlink:hover {
            background-color: #000000;
            background-color: rgba(0 0 0 / 12%);
        }

        .body-gray-board-background .bst-parentlink:hover {
            background-color: #000000;
            background-color: rgba(0 0 0 / 30%);
        }

.home-container .all-boards.bst-wide-format {
    width: 900px;
}

    .home-container .all-boards.bst-wide-format .boards-page-board-section-list-item {
        width: 31%;
    }

        /* With nested flexboxes, need to set the width of the inner or it overflows (wide boards) */
        .home-container .all-boards.bst-wide-format .boards-page-board-section-list-item .board-tile-details {
            width: calc(31% - 16px);
        }

            /* stylelint-disable-next-line no-descending-specificity -- With nested flexboxes, need to set the width
                                                                        of the inner or it overflows (normal boards) */
            .home-container .all-boards .boards-page-board-section-list-item .board-tile-details {
                width: calc(23% - 16px);
            }

        .home-container .all-boards.bst-wide-format .boards-page-board-section-list-item:nth-of-type(4n) {
            margin-right: 2%;
        }
