/* csslint ids: false, overqualified-elements: false */

body {
    min-width: 450px;
}

div.container {
    margin-top: 10px;
}

    div.container div.container:last-child {
        margin-left: 20px;
        padding-bottom: 0;
    }

    div.container span {
        display: inline-block;
        padding-left: 4px;
    }

select {
    font-family: inherit;
    font-size: inherit;
}

    option[value="green"] {
        color: #61bd4f;
    }

    option[value="yellow"] {
        color: #f2d600;
    }

    option[value="orange"] {
        color: #ffab4a;
    }

    option[value="red"] {
        color: #eb5a46;
    }

    option[value="purple"] {
        color: #c377e0;
    }

    option[value="blue"] {
        color: #0079bf;
    }

    option[value="pink"] {
        color: #ff80ce;
    }

    option[value="sky"] {
        color: #00c2e0;
    }

    option[value="lime"] {
        color: #51e898;
    }

    option[value="black"] {
        color: #4d4d4d;
    }

    option[value="null"] {
        color: #b6bbbf;
    }

fieldset {
    margin-bottom: 10px;
}

    legend {
        font-size: 1.3em;
        padding: 0 5px;
    }

    /* stylelint-disable-next-line no-descending-specificity -- limited by Trello DOM */
    fieldset div.container:last-child {
        padding-bottom: 10px;
    }

div#status,
button {
    margin: 2px;
}
