.bg-blue {
    background-color: #024a73;
}

.bg-twitter {
    background-color: #1da1f2;
}

.border-2 {
    border-width: 2px;
}

.h-50 {
    max-height: 50px;
}

.separator {
    margin: 2rem 0;
}

.title-font {
    font-family: "Merriweather Sans", sans-serif;
}

.nav-pills .nav-link.active {
    /* stylelint-disable-next-line declaration-no-important -- overriding Bootstrap */
    background-color: #024a73 !important;
}

nav ul ul {
    /* stylelint-disable-next-line declaration-no-important -- overriding Bootstrap */
    margin-top: 0.25rem !important;
    /* stylelint-disable-next-line declaration-no-important -- overriding Bootstrap */
    padding-left: 0.5rem !important;
}

main code {
    color: #a91459;
}

main ul ul {
    padding-left: 1.25rem;
}

.font-sm {
    font-size: 90%;
}

a {
    color: #006fe6;
}

.hide-h3 nav > ul > li > ul {
    display: none;
    margin: 0;
    padding: 0;
}
